#!/bin/bash

set -euxo pipefail

# Turn analytics off
{{ print (trimSuffix "/" .darwin.homebrewPrefix) "/bin/brew" | squote }} analytics off

# Install inline Homebrew Bundle
{{ print (trimSuffix "/" .darwin.homebrewPrefix) "/bin/brew" | squote }} bundle --no-lock --file='/dev/stdin' <<EOF
brew "bat"
brew "bottom"
brew "direnv"
brew "eza"
brew "fd"
brew "fish"
brew "fzf"
brew "git-delta"
brew "git-lfs"
brew "less"
brew "neovim"
brew "ripgrep"
brew "starship"
brew "vivid"
brew "zoxide"

cask "font-jetbrains-mono"
cask "font-symbols-only-nerd-font"
cask "hyperkey"
cask "kitty"
cask "rectangle"
EOF

# Symlinks the fzf key bindings & Adds fzf bin directory to the PATH
{{ print (trimSuffix "/" .darwin.homebrewPrefix) "/opt/fzf/install" | squote }} --key-bindings --no-completion --no-update-rc --no-bash --no-zsh
