# Add Homebrew environment variables
if [[ -x {{ print (trimSuffix "/" .darwin.homebrewPrefix) "/bin/brew" | squote }} ]]; then
    eval "$({{ print (trimSuffix "/" .darwin.homebrewPrefix) "/bin/brew" | squote }} shellenv)"
fi
